<div class="login-frame" id="login">
  <% form_for :user, :url => user_session_path do |f| -%>
    <%= f.label :email %>
    <br />
    <%= f.text_field :email, :class => 'text' %>
    <br />
    <%= f.label :password %>
    <br />
    <%= f.password_field :password, :class => 'text' %>
    <br />
    <%= f.submit 'Log in' %>
    <%= link_to 'Lost Password', new_user_password_path %>
    <%= link_to 'Register', new_user_registration_path %>
  <% end -%>
</div>
