<div id="navbar">

</div>
<div id="login-frame">
  <% form_for :user, :url => user_session_path do |f| -%>
    <%= f.label :email %>
    <br />
    <%= f.text_field :email, :class => 'text' %>
    <br />
    <%= f.label :password %>
    <br />
    <%= f.password_field :password, :class => 'text' %>
    <br />
    <%= f.submit 'Log in' %>  
  <% end -%>
</div>
