<div class="container">
<div id="blog-container" class="span-16 last">
<% for item in @posts -%>
  <% if item.published? -%>
  
    <h2><%=h item.title %></h2>
    
    <p><%=h item.body[/.*/] %></p>
    <code><%=h item.author %></code>
    
    <hr />
  <% end -%>
<% end -%>
<span class="large">
<% if @page == 1 then -%>
  <%= link_to 'Next', '/blog/' + (@page+1).to_s %>
<% elsif @page == @last_page then -%>
  <%= link_to 'Previous', '/blog/' + (@page-1).to_s %>
<% else -%>
  <%= link_to 'Previous', '/blog/' + (@page-1).to_s %>
  <%= link_to 'Next', '/blog/' + (@page+1).to_s %>
<% end -%>
</span>
</div>
</div>
